# Configurações do Banco de Dados
DB_HOST=localhost
DB_NAME=datakart
DB_USER=root
DB_PASS=
DB_PORT=3306

# Configurações de E-mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=seu-email@gmail.com
SMTP_PASS=sua-senha-app

# Configurações da Aplicação
APP_URL=https://sistema.exemplo.com.br
TIMEZONE=America/Sao_Paulo
